.feynman__title{
    position: relative;
    /* top: 100px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 648px;
    font-size: 120px;
    font-weight: 600;
    line-height: 1.15;
}