.header__subtitle{
  position: absolute;
  min-width: 388px;
  max-width: 400px; 
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}